/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.std-para{
	color:white !important;
}

/*
Light Orange = #F15A29
Dark Orange = #D9400E
Standard Dark text = #1D1E21
Lighter Gray/Black = #53575F
*/



/* --------------------- */
/* Global Styles Section */
/* --------------------- */
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
    color: #838994;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 19px;
}
p{
	font-size: 1em;
	line-height: 1.5em;
	color:#53575F;
	margin:1rem 0;
}

.section-karma-go .content p {
	color:white !important;
}

.btn-coral{
	background-color: #ff5050;
		color: #fff !important;
	padding: 18px 26px;
	border-radius: 6px;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
a:link, a:visited{
	text-decoration: none;
}
.btn{
	background: #F15A29;
	color: #fff !important;
	padding: 18px 26px;
	border-radius: 6px;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.watch{
	color: #fff !important;
	padding: 20px 0 20px 40px;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 300;
	background:url("../img/icons-play.svg") no-repeat 0 11px;
	background-size: 18%;
	margin-left: 20px;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.btn:hover{
	background: #D9400E;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.watch:hover{
	opacity: 0.7;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.content {
    width: 1200px;
    margin: 0 auto;
}




/* ------------------ */
/* Navigation Section */
/* ------------------ */
.top-navigation {
    background-color: #fff;
    position: fixed;
	z-index: 1;
	font-family: Roboto;
	font-size: 1.2vw !important;
	width: 100%;
	border-bottom:1px solid #EAEBEC;
}

.boldened{
    font-weight: bold;
}
.top-navigation > .content {
    height: 70px;
}

.jumbotron-about{
    height: 15vw;
    width: 100%;
    background-color: #ff5050;
    opacity: 1;
    z-index: -1;
}

.section-header-bold{
    font-weight: bold;
    color: white;
    position: relative;
    top: 8vw !important;
    font-family: Roboto;
    font-size: 2.5vw;
    z-index: 1000;
}

.logo {
	margin-left: 15px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 8px;
	height: 55px;
    float:left;
}

.red-btn{
    background-color: #ff5050 !important;
}

.main-logo{
    float:left;
    margin-top: 20px;
    margin-left: 8px;
    height: 30px;
}
.top-navigation .links {
    float: right;
    margin-top: 33px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li{
	display: inline-block;
	margin-left: 27px;
	font-size: 1.1rem;
	-webkit-font-smoothing: antialiased;
	margin-top: 2px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.top-navigation .links li.active{
	color: #1D1E21;
    font-weight: 400;
}
.top-navigation .links li:hover{
	color: #1D1E21;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.top-navigation a:link, a:visited{
	color:#838994;
	font-size: 1.0vw;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.top-navigation a:hover{
	color: #1D1E21;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.top-navigation a:active, a:focus{
	color:#1D1E21;
}
.top-navigation li.active a{
	color: #ff5050 !important;
    font-weight: 400;
}


/* ------------------------ */
/* Introduction Area Styles */
/* ------------------------ */
.section-introduction{
	background: url("../img/bg-graphic-intro.jpg") no-repeat 0 bottom;
	background-size: cover;
	text-align: center;
	color: white;
	position: relative;
}
.section-introduction div.introtext{
	padding: 19em 0;
}
.section-introduction h1{
	font-size: 2.7em;
	font-weight: 900;
}
.section-introduction p{
	margin: 25px 0;
	font-weight: 100;
	font-size: 1.5em;
	color:#FFF;
}
.scroll-down img{
	position: absolute;
	padding: 20px 0;
	left:50%;
	-webkit-animation: scroll-bounce 1.8s infinite; /* Safari 4+ */
	-moz-animation:    scroll-bounce 1.8s infinite; /* Fx 5+ */
	-o-animation:      scroll-bounce 1.8s infinite; /* Opera 12+ */
	animation:         scroll-bounce 1.8s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes scroll-bounce {
  0%   { bottom: 35px; }
  50% { bottom: 10px; }
  100%   { bottom: 35px; }
}
@-moz-keyframes scroll-bounce {
  0%   { bottom: 35px; }
  50% { bottom: 10px; }
  100%   { bottom: 35px; }
}
@-o-keyframes scroll-bounce {
  0%   { bottom: 35px; }
  50% { bottom: 10px; }
  100%   { bottom: 35px; }
}
@keyframes scroll-bounce {
  0%   { bottom: 35px; }
  50% { bottom: 10px; }
  100%   { bottom: 35px; }
}


/* ------------------------ */
/*    Cases Area Styles     */
/* ------------------------ */
.section-cases{
	text-align: center;
	padding: 7rem 0;
	color: #1D1E21;
}
.section-cases h2{
	font-size: 2.3em;
	margin-bottom: 1.6em;
}
.section-cases article{
	display: inline-block;
	width: 32.33333%;
	padding:.4em;
	padding-top: 9em;
}
.section-cases article.device{
	background: url("../img/open-book-with-text-lines.png") no-repeat top;
	background-size: 40%;
}
.section-cases article.coffee{
	background: url("../img/idea.png") no-repeat top;
	background-size: 40%;
}
.section-cases article.pay{
	background: url("../img/creditcard.png") no-repeat top;
	background-size: 40%;
}
.section-cases article h3{
	font-size: 1.5em;
	/*margin-bottom: 1em;*/
}

.section-karma-go aside h3{
	color: #ff5050 !important;
	font-size:2.5em;
}

/* ------------------------ */
/* Section Karma-Go Styles */
/* ------------------------ */
.section-karma-go{
	/*background: url("../img/bg-graphic-sharing.jpg") no-repeat 0 bottom;*/
	background-size: cover;
	background-color:black;
	color:white !important;
	min-height: 800px;
	padding: 7em 0;
}
.section-karma-go aside{
	width:30%;
	max-width: 350px;
}
.section-karma-go aside h3{
	color:#ff5050;
	font-size: 1.8em;
}


/* ------------------ */
/* Footer Section */
/* ------------------ */
footer{
	padding: 4em 0;
	font-size: 0.9rem;
}
section.footer-row{
	padding:15px 0 35px;
	overflow:hidden;
}
section .footer-col{
	float:left;
}
section div.biz{
	width:20%;
}
section div.links{
	width:50%;
}
section div.links ul{
	width:32.3333333333%;
	display:inline-table;
}
section div.links ul li{
	margin-bottom:12px;
}
section div.links ul li.header{
	font-weight: 400;
	color:#1D1E21;
	margin-bottom:15px;
}
section div.links ul li a:link, section div.links ul li a:visited{
	color:#1D1E21;
}
section div.newsletter{
	width:30%;
}
section div.newsletter h4{
	font-weight: 400;
	color:#1D1E21;
	margin-bottom:15px;
}
section div.newsletter input[type=text]{
	border:none;
	padding:20px 140px 20px 20px;
	border:1px solid #CACCD1;
	border-radius: 6px;
}
section div.newsletter input[type=submit]{
	border:none;
	padding:16px 20px 19px 20px;
	border:1px solid #CACCD1;
	border-radius: 6px;
	background:#FFF;
	margin-left:-60px;
	font-size: 1rem;
	color:#F15A29;
}
section div.newsletter input[type=submit]:hover{
	cursor: pointer;
}
ul.icons{
	text-align: center;
	border-top:1px solid #EAEBEC;
	padding:15px 0;
}
ul.icons li.header{
	width:100%;
	display: block;
	text-align: center;
	border:none;
	color:#1D1E21;
	font-size: 1rem;
	font-weight:400;
	margin-bottom:15px;
}
ul.icons li{
	width: 42px;
	height: 42px;
	display:inline-block;
	line-height: 42px;
	text-align: center;
	border-radius: 21px;
	border: 1px solid #eaebec;
}
.fa-twitter{
	color:#55ACEE;
}
.fa-facebook{
	color:#445B93;
}
.fa-instagram{
	color:#386589;
}
.copyright{
	text-align: center;
	font-size: 0.9rem;
	color:#838994;
}

.about-content{
    width: 60%;
    margin:auto;
    font-size: 20px;
    white-space:pre-wrap;
    font-family: Roboto;
    font-weight:400;
    color: #292929;
    margin-top: 20px;
    margin-bottom:40px;
}


.about-header{
	font-weight: bold;
	font-size:32px;
	color:#292929;
	font-family: Roboto;
	 width: 60%;
    margin:auto;
    margin-top: 15px;
    margin-bottom:30px;
}

.about-icons{
	height: 65px;
	margin-right: 30px;
}

.down20{
	margin-top:60px;
}

.element-box{
	height: 700px;
	width: 60%;
	margin:auto;
	border-bottom: 2px solid lightgrey;
}


.why-headers{
	font-size: 36px;
	font-weight: bold;
	color: #292929;
}

.topic-card{
	height: 15vh;
	width: 15vw;
	margin:8px;
	border-radius: 10px;
	display: inline-grid;
}

.card-grid{
	width: 73%;
	margin:auto;
	margin-top: 50px;
}

.general-field{
	font-size: 1.1vw;
	font-weight: bold;
	color: #292929;
	position: relative;
	top: 30%;
	margin: 15px;
	margin-bottom: 25px;
	margin-top: 0;
	font-family: Roboto;
}

.bewitched-tree{
	background-color: #FF92F3;
}

.lightheart-blue{
	background-color: #BEE9E4;
}

.aqua1{
	background-color: #C299D1;
}

.aqua2{
	background-color: #7BDF75;
}

.glass-gall{
	background-color: #7CE0F9;
}

.true-blush{
	background-color: #DDB0A0;
}

.brain-sand{
	background-color: #D3D2B5;
}

.magic-powder{
	background-color: #79A1D5
}

.requirements{
	margin-top: 8px;
	font-size: 0.9vw;
	font-family: Roboto;

}

.whitened{
	background-color: white !important;
}

.mission-box{
	
	width: 72%;
	margin:auto;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #f2f2f2;
	padding: 30px;
	margin-top: 50px;
}

.mission-header{
	font-size: 1.35vw;
	font-family: Roboto;
	font-weight: bold;
	color: #292929;
}

.stylized-list{
	font-family: Roboto;
	font-size: 1vw;
	color: #292929;
	font-weight: 500;
	margin-top: 30px;
}
.stylized-list li{
	margin-bottom: 6px;
}

.mission-text{
	font-size: 1.1vw;
	width: 98%;
	margin: auto;
	font-family: Roboto;
	margin-top: 40px;
}
.talents-needed{
	font-size: 1.25vw;
	font-weight: bold;
	font-family: Roboto;
	margin-top: 40px;
}

.background-header{
	
	width: 100%;
}

.tagline{
	text-align: center;
	padding: 60px;
	font-size: 28px;
	color: #292929;
	font-family: Roboto;
	font-weight: bold;
}

.background-header-large{
	position: absolute;
	top: 12vw;
	left: 10vw;
	color: white;
	font-family: Roboto;
	font-weight: bold;
	font-size: 3vw;
}

.background-header-small{
	position: absolute;
	top: 20vw;
	left: 10vw;
	color: white;
	font-family: Roboto;
	font-weight: 200;
	font-size: 1.7vw;
}

.coral-button{
	height: 3.0vw;
	padding: 8px;
	width: 9vw;
	margin: auto;
	text-align: center;
	font-size: 1.2vw;
	background-color: #ff5050;
	color:white;
	border:none;
	border-radius: 5px;
	text-align: center;
	font-family: Roboto;
	position: absolute;
	top: 24vw;
	left: 10vw;
}

.icon-container{
	
	width: 78%;
	margin:auto;
}

.icon-holder{
	height: 100%;
	min-height: 100%;
	padding: 1%;
	width: 32%;
	margin: auto;
	display: inline-grid;
	  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	   
}

.image-trifecta{
	width: 6vw;
	padding-bottom: 10px;
	margin: auto;
	
	
}

.icon-holder-title{
	font-size: 1.6vw;
	width:150px;
	margin-top: 15px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	color: #292929;
	font-family: Roboto;
}

.icon-holder-para{
	font-size: 1.1vw;
	margin-left: 10px;
	margin-top:20px;
	margin-bottom: 40px;
	max-width: 85%;
	font-family: Roboto;
	color:#292929;
	text-align: center;
	
}

.what-is-container{
	display: block;
	overflow: auto;
	width: 100%;
	background-color: #FFB6C1;
}

.main-header{
	font-family: Roboto;
	color:#292929;
	font-weight: 700;
	font-size: 2vw;
	padding-top: 4%;
}

.tiny-tagline{
	font-family: Roboto;
	color: #292929;
	width: 300px;
	font-weight: 500;
	font-size: 1.5vw;
	margin-left: 12%;
	padding-top: 4%;
	padding-bottom: 5px;
	border-bottom: 2px solid #292929;
}

.for-box{

	display: block;
	overflow: auto;
	width:70%;
	border-radius: 5px;
	background-color: white;
	margin: auto;
	margin-top: 4%;
	padding-bottom: 4%;
	margin-bottom: 4%;
}

.writer-tagline{
	width: 80%;
	margin: auto;
	background-color: #FFB6C1;
	border-radius: 5px;
	padding: 4px;
	font-family: Roboto;
	font-style: italic;
	font-size: 1.2vw;
	font-weight: 400;

}

.white{
	color:white !important;
	text-decoration: none;
}

.title-for-x{
	margin-bottom: 3%;
	font-weight: bold;
	color: #292929;
	font-family: Roboto;
	padding-bottom: 5px;
	min-width: 150px;
	max-width: 350px;
	border-bottom: 2px solid #292929;
	font-size: 1.8vw;
	padding-top: 3%;
}

.list-style-fancy {
  width: 70%;
  float: right;
  margin: auto;
  margin-right: 10%;
  margin-top: 3%;
  margin-left: 10%;
}
 
.list-style-fancy ol {
  color: #292929;
  list-style-type: none;
}
 
.list-style-fancy ol li {
  position: relative;
  font: bold 2.6vw Roboto;
  margin-bottom: 60px;
}
 
.list-style-fancy li p {
  font: 1.1vw Roboto;
  position: relative;
  top:10px;
  padding-left: 10%;
  color: #292929;
}
 
.list-style-fancy span {
  position: absolute;
  color: #ff5050;

}

.what-is-icons{
	height: 3.2vw;
	float: left;
	position: relative;
	margin-right: 1.5vw;
	top: 35%;
	left: -8%;


}

.vision-container{
	background-color: #ff5050;
	display: block;
	overflow: auto;
}

.vision-para{
	position: relative;
	margin-top: 0 !important;
	margin-left: 18% !important;
	margin-right: 6% !important;
}

.vision-headers{
	font-family: Roboto;
	font-size: 1.3vw;
	position: relative;
	top: 1%;
	padding-right: 20px;
}

.baby-pink-box{
	padding: 20px;
	background-color: #FFB6C1;
	border-radius: 5px;
	margin: 20px;
}

.pink-add-on{
	font-family: Roboto;
	width: 70%;
	margin: auto;
	font-size: 1.1vw;
	background-color: white !important;
	padding-bottom: 30px;
}

.careers-container{
	background-color: #FFB6C1;
	display: block;
	overflow: auto;
}

.about-us-container{
	margin-top: 30px;
	padding-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.careers-link{
	font-family: Roboto;
	color: #ff5050 !important;
	font-size: 1.1vw;
	text-decoration: underline !important;
}